.home{
    display: flex;
    
    .homecontainer{
        flex:6;
    }
    .widgets, .charts{
        display: flex;
    }
    .charts{
        padding: 1.5rem 1rem;
    }
    .listcontainer{
        // background-color: red;
        padding: 1rem;
        margin: 1rem;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    }

}